.container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sidenav-content {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}

.sidenav{
  width: 200px;
  overflow-x: hidden;
}
.ca-sidenav-avatar{
  font-size: 150px;
  width: 100px;
  height: 100px;
  margin-left: 25px;
  top: 0;
}
