<mat-sidenav-container class="ca-sidenav-container">
  <mat-sidenav #sidenav class="sidenav">
    <div id="side-menu" class="side-nav">
      <button mat-icon-button="settings" class="settings"><mat-icon>settings</mat-icon></button>
      <button mat-icon-button="person" class="person"><mat-icon>person</mat-icon></button>
      <button mat-icon-button="clear" class="clear" (click)="sidenav.close()"> <mat-icon>clear</mat-icon> </button>
      <mat-icon class="ca-sidenav-avatar" color="primary">account_circle</mat-icon>
      <button mat-icon-button="favorite" class="favorite"><mat-icon>star</mat-icon></button>
      </div>
  </mat-sidenav>


  <mat-toolbar color="primary">

    <button mat-icon-button color="white" (click)="sidenav.open()"> <mat-icon>menu</mat-icon></button>

    Contact app

  </mat-toolbar>

  <div>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
