<h2 class="header">
  Create a new contact
</h2>


<div class="contact-form">
  <mat-form-field>
    <input matInput floatPlaceholder="First name"
           type="text"
           required
           placeholder="First Name" [(ngModel)]="contact.firstName">
  </mat-form-field>

  <mat-form-field>
    <input matInput floatPlaceholder="Last name"
           type="text"
           required
           placeholder="Last Name" [(ngModel)]="contact.lastName">
  </mat-form-field>

  <mat-form-field>
    <input matInput floatPlaceholder="Phone number"
           type="text"
           required
           placeholder="Phone Number"[(ngModel)]="contact.phoneNumber">
  </mat-form-field>

  <mat-form-field>
    <input matInput floatPlaceholder="Address"
           type="text"
           required
           placeholder="Address" [(ngModel)]="contact.address">
  </mat-form-field>

  <mat-form-field>
    <input matInput floatPlaceholder="City"
           type="text"
           required
           placeholder="City"[(ngModel)]="contact.city">
  </mat-form-field>

</div>


<button mat-raised-button color="primary" (click)="onCreateContact()">Save</button>
<button mat-raised-button (click)="onCancel()">Cancel</button>
    <mat-icon aria-label="Cancel"></mat-icon>

